# Ignore Gradle and build files
.gradle/
build/
gradlew
gradlew.bat
ls

# Ignore IDE config files
.idea/
.vscode/
.gitattributes

# Ignore system files
*.log
*.tmp
*.bak
*.swp

# Ignore compiled files
*.class
*.jar
*.war
*.ear

# Ignore project-specific files
HELP.md
settings.gradle
build.gradle
